/* //form */

.product-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.product-filter {
  margin-bottom: 30px;
}

.search-container {
  width: 1000px;
  height: 50px;
  border-radius: 4px;
  position: relative;
}

.form-container {
  display: flex;
}

.form-border-filter {
  position: absolute;
  width: 1000px;
  height: 50px;
  z-index: 0;
  top: 0;
  left: 0;
  border: 1px solid rgb(173, 172, 172);
  border-radius: 4px 4px 4px 4px;
}

.form-select {
  width: 300px;
  background-color: #dadada;
  height: 50px;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  z-index: 2;
}

.form-select option {
  background-color: white;
}

.form-select:focus {
  outline: #f3a847 solid 3px;
}

.form-input-filter:focus + .form-border-filter {
  outline: #f3a847 solid 3px;
}

.form-input-filter {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  margin-top: 1px;
  z-index: 1;
  height: 48px;
}

.form-icon {
  font-size: 20px;
  padding: 10px;
  background-color: #f3a847;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  z-index: 1;
}

/* btn add new */
.btn-add-new {
  width: 200px;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #cc0000;
}

.btn-add-new:hover {
  color: white;
  background-color: #cc0000;
}

/* btn-close */
.btn-close-modal,
.btn-confirm {
  width: 120px;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
}

.btn-close-modal {
  background-color: #f3a847;
}

.btn-confirm {
  background-color: #cc0000;
}

.btn-close-modal:hover {
  background-color: #f59416;
}

.btn-confirm:hover {
  background-color: #ff0000;
}

/* modal add new product */
.form-container-add {
  display: flex;
  flex-direction: column;
}

.form-add {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.form-container-add span {
  margin-left: 50%;
  transform: translateX(-60%);
  color: red;
}

.span-product-name,
.span-product-type,
.span-product-price,
.span-product-image,
.span-product-descrip,
.span-product-sale {
  display: none;
}

.form-add input,
textarea {
  padding: 10px;
  width: 80%;
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-add input {
  height: 40px;
}

.form-add textarea {
  height: 80px;
}

.form-add input:focus,
textarea:focus {
  outline: 2px solid #f59416;
}

/* modal add new user and update */
.customer-body {
  display: flex;
  flex-direction: column;
}

.customer-container {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  flex-direction: column;
  width: 400px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input-container {
  position: relative;
  margin-top: 20px;
}

.input-control {
  outline: none;
  height: 50px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0 20px;
  transition: 0.25s ease;
}

.form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 11px;
  user-select: none;
  pointer-events: none;
  color: #999;
}

.input-control:not(:placeholder-shown) + .form-label,
.input-control:focus + .form-label {
  top: -2px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.25s ease;
  background-color: white;
}

.btn-update {
  background-color: #cc0000;
  color: white;
  border: 1px solid #ccc;
  outline: none;
  height: 40px;
  width: 120px;
  border-radius: 4px;
}

.btn-cancel {
  background-color: #f3a847;
  color: white;
  border: 1px solid #ccc;
  outline: none;
  height: 40px;
  width: 120px;
  border-radius: 4px;
}

.customer-content {
  display: flex;
  flex-direction: column;
}

.input-container input:focus {
  border-color: #f1c65b;
}

.customer-bottom {
  display: flex;
  justify-content: flex-end;
}

.customer-bottom button {
  margin-left: 20px;
  margin-top: 20px;
}

.modal-add-update span {
  color: red;
}

.span-err-name {
  display: none;
}

.span-err-email {
  display: none;
}

.span-err-phone {
  display: none;
}

.span-err-address {
  display: none;
}

/* modal add order */
.modal-search-user {
  display: flex;
  flex-direction: column;
}

.modal-search-user span {
  color: red;
}

.modal-search-user input {
  outline: none;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-search-user input:focus {
  outline: 3px solid#f1c65b;
}

.modal-add-order {
  display: flex;
  --spacingAddOrder: 20px;
  --columnAddOrder: 2;
}

.customer-order-container {
  width: calc(calc(100% / var(--columnAddOrder)) - var(--spacingAddOrder));
  display: flex;
  flex-direction: column;
}

.order-form {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.order-form input,
select {
  width: 80%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
}

.order-form input:focus {
  outline: 3px solid#f1c65b;
}

.btn-add-product {
  outline: none;
  height: 40px;
  width: 120px;
  border: 1px solid #ccc;
  background-color: #eba800;
  border-radius: 4px;
  color: white;
}

.btn-add-product:hover {
  background-color: #fccf5e;
}

.order-form-product {
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
}

.order-form-product-header {
  display: flex;
  justify-content: space-around;
}

.label-orderid {
  white-space: nowrap;
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label-orderid:hover {
  overflow: visible;
  background-color: white;
  width: 100%;
}

.order-detail-table {
  cursor: pointer;
}
